@import "partials/card";

body {
 background-image: url("/assets/bg.jpg");

}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;

}


header {
 background-color: white;
 background-image: url("/assets/header_bg.svg");
 background-repeat: no-repeat;
}

#header {
  // background-position:
}

main {
 font-family: 'Lato', sans-serif;
 display: flex;
 align-content: center;
 flex-wrap: wrap;


}