.board {
  display: block;
  margin: 1rem 0.5rem;
  text-align: center;
  background-color: white;
  height: 400px;
  width: 325px;
  padding: 25px; }

body {
  background-image: url("/assets/bg.jpg"); }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center; }

header {
  background-color: white;
  background-image: url("/assets/header_bg.svg");
  background-repeat: no-repeat; }

main {
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 800px; }
