.board{
  display: block;
  margin: 1rem 0.5rem;
  text-align: center;
  background-color: white;
  height: 400px;
  width: 325px;
  padding: 25px;

  .img{
  }

  .title{

  }

  .subtitle{

  }

  .text{

  }

}
